# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: beta-xcode6.1

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "kerI9FXPv0r6+EO7m1RZSbRVi5nWsrSUmV0f3PuFRRNU2rVmrd8f75ThSkcen56XH5NHIPo24VJ6GvQWrzrAlPtIyGNWOtBYHsZmoQ8FLWgX3yErX+v5qxJX5zAuNhbzHw5ASmT8HI1mvBWNwBYfK0rBihfWSRCO0B3G4mrt4DMRu7XcjkBPQGPl4y/dkAmNyaupzxGnICQT7TY5I/qsN2MhL2GnORhakml7J7+spL0J0GJOBvI5IQY42RjXPgIccm7PMucpRcSYE7ZZtjuNNPyy5GGdjxm7FeENXIsMYpyVBFnM4lhvNEK9wLEyzUMfiXmvgX0UtUmqhTJ2+m18fY0+syeBadurJu0dChgEKg6rPpX11QRWbf6ShxRXtCcZutqy0jsIFIPGlWJ8mnYBChYE5FYbc9L1iP7b8P/CKLfLIGMoUkMASEhabW1j86WBlE120umr4M5aEXWCxzoUC8mxOxHsPBcSFbT08LXE/TXvGhDcokIdSbrkxAATbWt8ldUyRz5y8qgGmrgbhWu0UQ5f+x680kCp4/ZDX15bg0BGKmd3eOaMNmhr8qRH69MFvlCqjWUcf5zMK8vfglbVtTJ2ybhIgyJ/gjE3j+2aYu5rhTcIeQxA8wjQTIWsqcPhp3Y4vVUVg+YZsUHmgZOYdFxRhVhjJgh1etM4vLoFYPw="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
